
.login-pf body {
  background-color: #1352a5 !important;
  background-image: url("../img/my-login-bg.png");
  background-size:contain;
}
.card-pf {
  margin-top: 200px !important;
  max-width: 400px !important;
  margin-left: 25%;
 background-color: cornflowerblue !important;
}